**/*.png
/BigData/*.npy
*.pdf
*.pyc
.DS_Store
params
*-checkpoint.ipynb
settings.json
*.csv
l_bol.npy
*test.txt
*.pyc
*.insyncdl
*.bak
*.pyc
02_First_draft_circulation
01_First_version_paper
00_Old_Gaussian
